
:root {
    direction: rtl;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

#loader {
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.hide {
    display: none;
}

#wrapper {
    text-align: center;
    padding: 20px;
    max-width: 860px;
    margin: 0 auto;
}

h2 {
    font-size: medium;
}

.clues {
    text-align: right;
}

.clues li {
    list-style-type: none;
}

.clues dl {
    display: grid;
    grid-template-columns: max-content auto;
}
  
.clues dt {
    grid-column-start: 2;
}

.clues dd {
    grid-column-start: 3;
    padding-right: 10px;
    cursor: pointer;
}

.clue_checkbox {
    margin-left: 5px;
    vertical-align: middle;
}

.clues .solved {
    text-decoration: line-through;
    color: gray;
}

#index {
    padding: 20px;
    text-align: center;
}

#crossword_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 10px;
    list-style-type: disc;
}

#crossword {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crossword svg {
    z-index: 10;
    position: absolute;
    top: 0;
}


.grid-row {
    display: flex;
}
  
.dummy_input {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
    background: none;
    margin: 0px;
    outline: none;
    vertical-align: baseline;
    /*background: red;*/
}

#crosswordSelect {
    width: 600px;
    height: 80px;
    margin: 20px auto;
}

#chooseCrossword {
    margin: 20px auto;
    height: 80px;
}

#solutionModal .modal-header.success {
    background: #47c9a2;
}

#solutionModal .modal-header.failure {
    background: #c86464;
}

#solutionModal .modal-body {
    text-align: center;
}

#fullSolutionModal .modal-dialog {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#crossword_wrapper {
    width: fit-content;
    margin: 0 auto;
}

#tabs_header {
    width: 100%;
    border-bottom: none;
    margin-bottom: 1px;
}

#tabs_content {
    width: fit-content;
    text-align: center;  
    padding: 0;
}

.nav-tabs .nav-link {
    border-color: rgb(206, 205, 205);
    margin-left: 1px;
}